{% extends "home.html" %}

{% block content %}
<style>

body {
  background-color: #131212;
 
}
 
  .material-icons {
    position: absolute;
    top: 80px;
    right: 735px;
    font-size: 18px;
  }

  
  
  </style>

<div style="color:#008B8B"  class="row">
  <div class="col-md-6">
    <h3  > Search by image</h3>

    <hr>
    <form action="/search" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="image">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
          <button type="submit" class="btn btn-primary">Search Image</button>
          <button type="reset"  class="btn btn-danger my-4" value="Reset"><i class="ni ni-fat-remove"></i> Reset</button>
          <i style="height: 100p" class="material-icons">search</i>
          
   
    <body>
    
    
    
    
        
        </div>
      </div>
    </form>
    <br>
    
    <hr>
    <br>
    {% if image is defined and image[0] is defined %}
    <img src="../static/uploads/{{image}}" alt="source Image" width="400" height="400">
    {% endif%}
  </div>

  <div class="col-md-4 col-md-offset-1">
    <h4 style="color:#008B8B"></h4>
    
    <br>
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Images</th>
          <th>Feedback</th>
        </tr>
        {% for item in jsonResult  %}
        <tr>
          <td><img src="../static/data/{{item.image}}" width="200" , height="200"></td>
          <td>{{item.score}}</td>
        </tr>
        {% endfor %}

      </thead>
      <tbody id="results">
      </tbody>
    </table>

  </div>
  

<br>
{% endblock %}